:root {
    --primary-green-dark: #2EB873;
    --primary-green-neutral: #47D18C;
    --primary-green-light: #B1DFC9;

    --primary-blue-dark: #0075EB;
    --primary-blue-neutral: #1F8FFF;
    --primary-blue-light: #85C2FF;

    --primary-orange-dark: #F59A74;
    --primary-orange-neutral: #FACCB9;
    --primary-orange-light: #FCDDD1;

    --secondary-yellow: #FEE5A4;
    --secondary-yellow-green: #EAEDB6;
    --secondary-lightblue: #A4D8FE;
    --secondary-purple: #ABA4FE;
    --secondary-pink: #FEA4E5;

    --gray-black-dark: #252A3F;
    --gray-black-neutral: #2E334B;
    --gray-black-light: #3D425A;

    --black-dark: #1B2124;
    --black-dark: #8D9092;
    --black-dark: #C6C7C8;

    --gray-dark: #7F879E;
    --gray-neutral: #AAAFBE;
    --gray-light: #D4D7DF;

    --neutral-gray-main: #F8F8FD;
    --neutral-gray-dark: #F3F3F3;
    --neutral-gray-neutral: #F6F8F9;
    --neutral-gray-light: #F9F9F9;
    --neutral-white: #FFFFFF;
    --neutral-beige: #FBF3E5;
    --neutral-white: #D6F6E7;

    --alert-red-main: #E34657;
    --alert-red-dark: #E60019;
    --alert-red-neutral: #EE5566;
    --alert-red-light: #F7AAB2;

    --alert-green-main: #34A853;
    --alert-green-dark: #2EB873;

    --brd: 12px;
    --brd-icon: 15px;
    --brd-close: 50%;
    --brd-image: 30px;
    --intersection-small: 80px;
    --intersection-medium: 100px;
    --intersection-big: 120px;

}